    <footer class="footer">
        <ul class="list">
            <li class="list-items"><a href="{{ path('app_legal_notice') }}">Mentions Légales</a></li>
            <li>-</li>
            <li class="list-items"><a href="{{ path('app_rgpd') }}">RGPD</a></li>
        </ul>
    </footer>
