{% extends 'base.html.twig' %}

{% block title %}Trinipéro{% endblock %}

{% block body %}

	<main class="position-absolute top-50 start-50 translate-middle shadow-lg p-3 mb-5 bg-body rounded">

		<h1 class="test">Hello les TRINITY</h1>
		<p>Notre Amélie internationale a lancé les hostilités!</p>
		<p>L'idée est ici d'organiser un évênement festif entre nous In Real Life</p>
		<p>Etant donné que nous sommes pas moins de 50 dans la promo auxquels nous pouvons ajouter nos très chers professeurs sans qui nous n'en serions déjà pas là, et étant donné que nous sommes de jeunes dev, nous nous sommes dit que le plus simple serait encore d'organiser tout ca via un site internet !</p>
		<p>Nous vous invitons à naviguer au travers du menu en haut à gauche afin que l'organisation soit au top et correspond au mieux à vos attentes</p>
		<p>à commencer par le formulaire situé dans
			<em>qui veut ?</em>

		</p>
		<h3 class="mt-auto p-2 text-end">Amélie, Aodrën, Yohann et John</h3>
		
	</main>

{% endblock %}
