{% extends 'base.html.twig' %}

{% block title %}Organisation
{% endblock %}

{% block body %}

	<div class="row" style="margin-top: 5rem;">
		<div class="col-8 m-auto">

			<h1 class="text-center mb-5 text-dark fw-bold">Mais au final, il faut venir habillé? et je dors sur qui?</h1>

			<p class="my-5 text-center">En construction...</p>
		</div>
	</div>


{% endblock %}
