{% extends 'base.html.twig' %}

{% block title %}Organisation
{% endblock %}

{% block body %}

	<main class="position-absolute top-50 start-50 translate-middle shadow-lg p-3 mb-5 bg-body rounded">
		<h1>Mais au final, il faut venir habillé? et je dors sur qui?</h1>
		<p class="my-5 text-center">En construction...</p>
	</main>

{% endblock %}
